@font-face {
    font-family: 'Caviar Dreams';
    src: url('../asset/CaviarDreams-Bold.woff2') format('woff2'),
        url('../asset/CaviarDreams-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}